/* Styling for the overlay div */
#authenticator-overlay {
    padding: 10px;
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #fff;
    width: 150px;
    text-align: center;
    border-radius: 7px;
    box-shadow: 0 0 10px #888;
    z-index: 100;
}

/* Styling for the overlay header */
#authenticator-overlay-header {
    font: bold 14px "Roboto", sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    color: #333;
}